<!DOCTYPE html>
<html>
    <head>
        <title>CyberStart Survival Guide</title>
        <meta>
        <style type="text/css">
body{
    --color: #{{ page.color }};
}
        </style>
        <link rel="stylesheet" href="/assets/css/styles.css">
    </head>
    <body>
        <div id="header">
            <p>
                <img src="/assets/images/logo.png">
            </p>
            <h1>Survival Guide</h1>
        </div> 
        {% include navigation.html %}
        <br>
        {{ content }}
    </body>
</html>
