<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1, viewport-fit=cover" name="viewport">
        <title>CyberStart Survival Guide</title>
        <meta content="An unofficial guide with tips and tricks for the Cyber Discovery programme."
              name="description">
        <link href="/apple-touch-icon.png" rel="apple-touch-icon">
        <link href="/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png">
        <link href="/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png">
        <link href="/site.webmanifest" rel="manifest">
        <link href="/safari-pinned-tab.svg" rel="mask-icon">
        <meta content="#0d2331" name="msapplication-TileColor">
        <meta content="#ffffff" name="theme-color">
        <style>
body{
    --color: #{{ page.color }};
}
        </style>
        <link href="/assets/css/normalize.css" rel="stylesheet" integrity="sha512-a070c473c5de7788625ba0b10fbaa36e723e074eef0dd5fb8443d3be7f694993b56dc46a1e9f268fda72afef11542d869ad11f236062f4a7bd02cb346acfb3a6">
        <link href="/assets/css/styles.css" rel="stylesheet" integrity="sha512-d07a20d89751b7a5656679f72156a6483c42ad75f9cf8a03b082e96c41a09d73018857f8542c15b7c6bba7df050faf55aeda9702d0e26422b46f201671ee6818">
    </head>
    <body>
        <div id="header">
            <p><img src="/assets/images/logo.png"></p>
            <h1>Survival Guide</h1>
        </div>{% include navigation.html %}<br>
        {{ content }}
    </body>
</html>
